<div class="container-fuild">

<div class="row body">
<div class="bg-color">
<div class=" content0 ">
    <h3 class="et1 color:#fff">
      将商店与用户真正连结<br>省时！省力！省心！
    </h3>
    <div class="et1image">
      <img src="http://ww1.sinaimg.cn/large/006tNc79jw1facsy6p7zij30b40b40tl.jpg"width="400"height="400">
    </div>

  <p class="text-center button1">
    <%= link_to("买买买",account_products_path,class:"color:#fff")%>
  </p>
    </div>
</div>

<div class="fullwidth-content">
  <img src="http://ww3.sinaimg.cn/large/006tNc79jw1facib4dq90j30dw09aq4q.jpg" width="326" height="224">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
  <img src="http://ww1.sinaimg.cn/large/006tNc79gw1facit2tohtj30c80c8gmx.jpg" width="326" height="224">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <img src="http://ww3.sinaimg.cn/large/006tNc79jw1facj3cfv9pj30sg0igdvh.jpg" width="326" height="224">
</div>
</div>
</div>
