<div class="container-fuild">

<div class="row body">
<div class="bg-color">
<div class=" content0 ">
    <h3 class="et1">
      早上起来，冰箱空空的<br>
      下班回家，没有吃的<br>
        市场离家太远。。<br>
        去超市还要拎好多东西<br>
        解决问题！只需要轻轻一点！
    </h3>
    <div class="et1image">
      <img src="http://ww1.sinaimg.cn/large/006tNc79jw1facsy6p7zij30b40b40tl.jpg" width="300" height="224">
    </div>

  <p class="text-center button1">
    <%= link_to("买买买",account_products_path)%>
  </p>
    </div>
</div>

<div class="fullwidth-content">
  <img src="http://ww3.sinaimg.cn/large/006tNc79jw1facib4dq90j30dw09aq4q.jpg" width="326" height="224">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
  <img src="http://ww1.sinaimg.cn/large/006tNc79gw1facit2tohtj30c80c8gmx.jpg" width="326" height="224">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <img src="http://ww3.sinaimg.cn/large/006tNc79jw1facj3cfv9pj30sg0igdvh.jpg" width="326" height="224">
</div>
</div>
</div>
