<div class="row">
    <div class="col-md-12">
        <div class="bg" id="bg1"></div>
    </div>
</div>
<div class="blue content0 text-center">
    <h3>
        早上起来，冰箱空空的
    </h3>
    <h3>
        下班回家，没有吃的
    </h3>
    <h3>
        市场离家太远。。
    </h3>
    <h3>
        去超市还要拎好多东西
    </h3>
    <h3>
        解决问题！只需要轻轻一点！
    </h3>
    <%= link_to("买买买",account_products_path,class:"btn btn-lg") %>
</div>
