/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
.bg
{
  height: 300px;
}
#bg1
{
  background-image: url("http://ww2.sinaimg.cn/large/65e4f1e6gw1f9yngi4o8sj20sg09i75z.jpg");
}
.blue
{
  color: #5074DF
}
.pink
{
  color: #EF5DED
}
.content0
{
    line-height: 500%;
}
.content1
{
  margin-top: 50px;
  line-height: 500%;
}
.total
{
  line-height: 200%;
  margin-top: 30px;
  color: #D3A089
}
.btn-red
{
  color: #F24253
}
.btn-orange
{
  color: #F95912
}
.gray
{
  color: #81869B
}
